{{- if .Values.ingress.enabled -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ template "xetusoss-archiva.fullname" . }}
  labels:
    app: {{ template "xetusoss-archiva.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    {{- range $key, $value := .Values.ingress.annotations }}
      {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  rules:
  - host: {{ .Values.proxy.hostname }}
    http:
      paths:
        - path: {{ default "" .Values.proxy.pathPrefix }}
          backend:
            serviceName: {{ include "xetusoss-archiva.fullname" . }}
            servicePort: http
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - secretName: {{ template "xetusoss-archiva.tlsSecret" . }}
      hosts:
        - {{ .Values.proxy.hostname }}
  {{- end }}
{{- end }}